
{{#each productos}}
<h2>{{this.title}}</h2>
<p>{{this.id}}</p>
<p> {{this.description}}</p>
<p>{{this.price}}</p>
{{/each}}

<div> <input id ="chatBox"></input></div>
<div>
  <p id="messageLogs"></p>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src ="./socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>

