<section>
    <h1>Logueate</h1>
    <form id="formularioLogin">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input name="password">
        
        <input type="submit">

    </form>  
<a href="/register">crear cuenta</a>
    
</section> 

<script src="./js/login.js"></script> 